{% extends 'layout.html' %}

{% block body %}

<body>
    <main class="w-full max-w-[1250px]">
        <div class="grid grid-cols-1 lg:grid-cols-6 gap-2">
            <!-- Left Sidebar -->
            <aside class="col-span-1 lg:col-span-2 mt-2 lg:ml-5 xl:ml-10 2xl:ml-20">
                <div class="flex items-center -mb-3 mt-6">
                    <p class="font-black text-lg">144</p>
                    <span class="inline mx-1 text-accent">|</span>
                    <p class="md:text-5xl 2xl:text-3xl font-black inline">OPOR</p>
                </div>
                <p class="md:text-5xl 2xl:text-3xl font-black">TUNIDAD</p>
                <p class="md:text-5xl 2xl:text-3xl -mt-3 font-black">ES.</p>
                <!-- Buscador -->
                <div class="lg:col-span-2 w-5/6 mt-3">
                    <h2 class="font-bold text-2xl leading-none tracking-tighter mb-2">EXPLORÁ LOS RECURSOS.</h2>
                    <p class="mb-4 text-sm font-medium tracking-tighter">Para artistas, investigadores y trabajadores de
                        la cultura, principalmente para
                        residentes de Argentina, aunque también hay información para Latinoamérica.</p>
                    <input type="text" placeholder="This is my text"
                        class="input input-bordered rounded-none w-full mb-4 border-neutral">
                    <button class="btn btn-primary w-full">Buscar</button>
                </div>
            </aside>

            <!-- Main Content -->
            <main class="col-span-1 lg:col-start-3 lg:col-span-4 space-y-3">
                <div class="flex flex-col lg:flex-row justify-between gap-3">
                    <div class="w-full lg:w-1/2">
                        <div class="border-b-4 border-primary pb-2">
                            <svg class="w-6" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
                                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0M3.124 7.5A8.969 8.969 0 0 1 5.292 3m13.416 0a8.969 8.969 0 0 1 2.168 4.5">
                                </path>
                            </svg>
                        </div>
                        <div class="join join-vertical w-full">
                            <div class="collapse collapse-arrow join-item border border-neutral rounded-none">
                                <input type="radio" name="my-accordion-1" checked="checked" />
                                <div class="collapse-title text-xl font-medium">
                                    CIERRAN ESTE MES
                                </div>
                                <div class="collapse-content">
                                    {% if current_month_pages %}
                                    {% for page in current_month_pages %}
                                    <p><a href="{{ page.url }}">{{ page.nombre }}</a></p>
                                    {% endfor %}
                                    {% else %}
                                    <p>No hay oportunidades este mes.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2">
                        <div class="border-b-4 border-secondary pb-2">
                            <svg class="w-6" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
                                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m18.375 12.739-7.693 7.693a4.5 4.5 0 0 1-6.364-6.364l10.94-10.94A3 3 0 1 1 19.5 7.372L8.552 18.32m.009-.01-.01.01m5.699-9.941-7.81 7.81a1.5 1.5 0 0 0 2.112 2.13">
                                </path>
                            </svg>
                        </div>
                        <div class="join join-vertical w-full">
                            <div class="collapse collapse-arrow join-item border border-neutral rounded-none">
                                <input type="radio" name="my-accordion-1" />
                                <div class="collapse-title text-xl font-medium">
                                    DESTACADAS
                                </div>
                                <div class="collapse-content">
                                    {% if empty_fecha_pages %}
                                    {% for page in empty_fecha_pages %}
                                    <p><a href="{{ page.url }}">{{ page.nombre }}</a></p>
                                    {% endfor %}
                                    {% else %}
                                    <p>No estamos destacando.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="border border-neutral rounded-none overflow-x-auto mb-12">
                    <table class="table w-full">
                        <!-- head -->
                        <thead>
                            <tr>
                                <th>
                                    <label>
                                        <input type="checkbox" class="checkbox" />
                                    </label>
                                </th>
                                <th>Oportunidad</th>
                                <th>Descripción</th>
                                <th>Fecha de cierre</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for page in pages %}
                            <tr>
                                <th>
                                    <label>
                                        <input type="checkbox" class="checkbox" />
                                    </label>
                                </th>
                                <td>
                                    <div class="flex items-center gap-3">
                                        <div class="avatar">
                                            <div class="mask mask-squircle w-12 h-12">
                                                <img src="https://img.daisyui.com/tailwind-css-component-profile-2@56w.png"
                                                    alt="Avatar Tailwind CSS Component" />
                                            </div>
                                        </div>
                                        <div>
                                            <div class="font-bold">{{ page.nombre }}</div>
                                            <div class="text-sm opacity-50">{{ page.país }}</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {{ page.nombre_original }}
                                    <br />
                                    <span class="badge badge-ghost badge-sm">{{ page.ai_keywords }}</span>
                                </td>
                                <td>{{ page.fecha_de_cierre }}</td>
                                <th>
                                    <a href="{{ page.url }}" class="btn btn-ghost btn-xs">ver en origen</a>
                                </th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </main>
        </div>

        <!-- New Row: Explorá los recursos and Form Section -->
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 mt-12">
            <div class="mb-12 w-4/5 mx-auto lg:mx-0">
                <h2 class="font-bold text-lg mb-4">EXPLORÁ LOS RECURSOS.</h2>
                <p class="mb-4">Para artistas, investigadores y trabajadores de la cultura, principalmente para
                    residentes de Argentina, aunque también hay información para Latinoamérica.</p>
                <input type="text" placeholder="This is my text" class="input input-bordered w-full mb-4">
                <button class="btn btn-primary w-full">Buscar</button>
            </div>

            <!-- Form Section Below the Table -->
            <div class="mt-12 w-4/5 mx-auto lg:mx-0">
                <h2 class="font-bold text-lg mb-4">SUMÁ TU OPORTUNIDAD A NUESTRA BASE DE DATOS</h2>
                <p class="mb-4">Para artistas, investigadores y trabajadores de la cultura, principalmente para
                    residentes de Argentina, aunque también hay información para Latinoamérica.</p>
                <form>
                    <div class="mb-4">
                        <label class="block text-sm font-medium mb-1" for="nombre">Nombre de la Oportunidad</label>
                        <input id="nombre" type="text" class="input input-bordered w-full">
                    </div>
                    <div class="mb-4">
                        <label class="block text-sm font-medium mb-1" for="pais">País</label>
                        <input id="pais" type="text" class="input input-bordered w-full">
                    </div>
                    <div class="mb-4">
                        <label class="block text-sm font-medium mb-1" for="destinatarios">Destinatarios</label>
                        <input id="destinatarios" type="text" class="input input-bordered w-full">
                    </div>
                    <div class="mb-4">
                        <label class="block text-sm font-medium mb-1" for="input-label">Input Label</label>
                        <input id="input-label" type="text" class="input input-bordered w-full">
                    </div>
                    <div class="mb-4">
                        <label class="block text-sm font-medium mb-1" for="date">Input Date</label>
                        <input id="date" type="date" class="input input-bordered w-full">
                    </div>
                </form>
            </div>
        </div>
    </main>


    <div hx-boost="true" hx-target="main">
        {% for page in pages %}
        <div class="opportunity">
            <p><strong>Name:</strong> {{ page.nombre }}</p>
            <p><strong>Country:</strong> {{ page.país }}</p>
            <p><strong>URL:</strong> <a href="{{ page.url }}" target="_blank">{{ page.url }}</a></p>
            <p><strong>Recipients:</strong> {{ page.destinatarios }}</p>
            <p><strong>Fecha de cierre:</strong> {{ page.fecha_de_cierre }}</p>
            <a href="/update/{{ page.id }}" hx-get="/update/{{ page.id }}" hx-target="body">Update</a>
            <a href="javascript:void(0);" onClick="console.log('Sending data: ', {'page_id': '{{ page.id|tojson }}'})"
                hx-post="/save" hx-target="#toast-container" hx-swap="outerHTML" hx-trigger="click"
                hx-vals='{"page_id": {{ page.id|tojson }}}' hx-ext='json-enc'>Save</a>
            <div id="toast-container"></div>
        </div>
        {% endfor %}
    </div>
    </main>
</body>

{% endblock %}