<!-- footer.html -->
<footer class="w-full py-4 bg-white mt-28">
    <div class="container mx-auto flex flex-col items-center">
        <!-- Row 1: Main Logos and Support Text -->
        <div class="w-full flex justify-center items-center space-x-20">
            <a href="https://atlanticx.org" target="_blank" rel="noopener noreferrer">
                <img src="{{ url_for('static', filename='public/Logo_Grande_Atx.png') }}" alt="Logo Grande Atx" class="w-20">
            </a>
            <a href="https://digitalpublicgoods.net/" target="_blank" rel="noopener noreferrer">
                <img src="{{ url_for('static', filename='public/alliance.svg') }}" alt="DPGA" class="w-28 relative left-4">
            </a>
            <div class="flex flex-col items-center">
                <span class="text-[10px] mb-1 scale-75 -mt-2 relative left-4">con el apoyo de:</span>
                <a href="https://fundacionwilliams.org.ar/" target="_blank" rel="noopener noreferrer">
                    <img src="{{ url_for('static', filename='public/logo-williams.png') }}" alt="Logo Williams" class="w-20 relative left-4 -mt-1">
                </a>
            </div>
        </div>
        <!-- Row 2: Copyright and Logo -->
        <div class="w-full flex justify-center items-center space-x-2 mt-12">
            <span class="text-[9px]">&copy; <span id="current-year"></span></span>
            <img src="{{ url_for('static', filename='public/Logo_Atlanticx.png') }}" class="w-10">
        </div>
    </div>
</footer>

<script>
    // Update current year
    document.getElementById('current-year').textContent = new Date().getFullYear();
</script>

