<!-- footer.html -->
<footer class="w-full bg-white py-4 z-99">
    <div class="container mx-auto flex flex-col items-center">
        <!-- Row 1: Main Logos and Support Text -->
        <div class="w-full flex justify-center items-center space-x-8 md:space-x-2">
            <a href="https://www.atlanticx.org" target="_blank" rel="noopener noreferrer" class="flex justify-center">
                <img src="{{ url_for('static', filename='public/IsoAtx.png') }}" alt="IsoAtx" class="w-12 md:w-10">
            </a>
        </div>
        <!-- Row 2: Copyright and Logo -->
        <div class="w-full flex justify-center items-center space-x-1 md:space-x-2 mt-6">
            <span style="font-size: 9px;">&copy; <span id="current-year"></span></span>
            <img src="{{ url_for('static', filename='public/Logo_Atlanticx.png') }}" class="w-10">
        </div>
    </div>
</footer>

<script>
    // Update current year
    document.getElementById('current-year').textContent = new Date().getFullYear();
</script>
